body {
  padding: 0px;
  margin: 0px;
  font-family: 'JetBrains Mono', monospace;
  background-color: black;
  color: white;
  text-align: center;
  font-size: 40px;
}

#bio {
  font-size: 20px;
}

#row {
  display: flex;
  flex-direction: row;
}

.row img {
  height: 20%;
  width: 20%;
  align-items: center;
  padding: 0.7%;
}

#column {
  display: flex;
  flex-direction: column;
  margin-left: 25%;
  margin-right: auto;
  margin-top: 18%;
}

#socials {
  color: white;
  font-size: 40px;
}
